@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="content px-4">
        @Body
    </div>
</div>

@code{

    protected override async Task OnInitializedAsync()
    {

        UserIdentity.Login(
            Guid.NewGuid().ToString(),
            Guid.NewGuid().ToString(),
            "test@test.com" + Guid.NewGuid(),
            new List<string> { "Admin", "User" });
            

        //NavigationManager.NavigateTo("/login", forceLoad: true);
    }


}
