@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="content px-4">
        @Body
    </div>
</div>

@code{
    
    protected override async Task OnInitializedAsync()
    {
        // @inject Models.Authentication.UserIdentity UserIdentity set in _Imports.razor
        UserIdentity.Email = "test@test.com" + Guid.NewGuid();
        UserIdentity.UserName = Guid.NewGuid().ToString();
        UserIdentity.Roles.Add("Admin");
        UserIdentity.Roles.Add("User");

        var isAuthenticated = UserIdentity.IsAuthenticated;

        //NavigationManager.NavigateTo("/login", forceLoad: true);
    }

}
