@page "/"


<h1>Hello!</h1>

<!-- We have -inject Models.Authentication.UserIdentity UserIdentity set in the _Imports.razor file -->
<p>The email of the user identity is @UserIdentity.Email</p>

@if (UserIdentity.Roles.Contains("Admin"))
{
    <b>Shows if user is an Admin</b>
}
else
{
    <b>User is not an Admin</b>
}


@code{
    
}