@page "/profile"

<h3>Profile</h3>

<p><b>Username:</b> @UserIdentity.UserName</p>
<p><b>Email:</b> @UserIdentity.Email</p>
<p><b>Roles:</b> @String.Join(",", UserIdentity.Roles)</p>
@if (UserIdentity.IsAuthenticated)
{
    <button @onclick="Signout">Signout</button>
}
else
{
    <button @onclick="SignIn">SignIn</button>
}

<button @onclick="Refresh">Refresh</button>
@code {

    private void Signout()
    {
        UserIdentity.Logout();

    }
    private void Refresh()
    {

        UserIdentity.Refresh(
           Guid.NewGuid().ToString(),
           Guid.NewGuid().ToString(),
           "test@test.com" + Guid.NewGuid(),
           new List<string> { "Admin", "User" });

    }
    private void SignIn()
    {
        /*
        UserIdentity.Login(
           Guid.NewGuid().ToString(),
           Guid.NewGuid().ToString(),
           "test@test.com" + Guid.NewGuid(),
           new List<string> { "Admin", "User" },
           Settings.RefreshSessionHours);
           */
    }

}
