@page "/profile"

<h3>Profile</h3>

<p><b>Username:</b> @UserIdentity.UserName</p>
<p><b>Email:</b> @UserIdentity.Email</p>
<p><b>Roles:</b> @String.Join(",",UserIdentity.Roles)</p>
<button @onclick="Signout">Signout</button>

@code {

    private void Signout()
    {

    }

}
