@page "/profile"

<h1>Profile</h1>

<p><b>Id:</b> @UserIdentity.Id</p>
<p><b>Username:</b> @UserIdentity.UserName</p>
<p><b>Email:</b> @UserIdentity.Email</p>
<p><b>Roles:</b> @String.Join(", ", UserIdentity.Roles)</p>

<button class="btn btn-dark" @onclick="Signout">Signout</button>
<button class="btn btn-dark" @onclick="Refresh">Refresh</button>

@code {

    private void Signout()
    {
        NavigationManager.NavigateTo("/authentication/destroycookies", forceLoad: true);
    }
    private void Refresh()
    {

        UserIdentity.Refresh(
           Guid.NewGuid().ToString(),
           Guid.NewGuid().ToString(),
           "test@test.com" + Guid.NewGuid(),
           new List<string> { "Admin", "User" });

    }

}
